@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    
    <h1>Добро пожаловать</h1>
    <p>На этом сайте вы можете приобрести стройматериалы</p>
    <p class="text"><a href="\Reg">Регистрация</a></p>
    <p class="text"><a href="\Auth">Авторизация</a></p>
    <img src="/images/scale_1200.jpeg">
</div>


<style>
    .image
    {
        width: 75%;
        height: 130px;
    }
    .text
    {
        font-size: 20px;
        
    }
    a{
        text-decoration: none;
    }
</style>