@page
@model Page2Model
@{
    ViewData["Title"] = "Page 1";
}

<h1>Плита ДСП</h1>
<img src="/images/2.jpeg" alt="ДСП">
<p>1500 руб. за 1 шт.</p>
<button class="add-to-cart-btn" type="button">Добавить в корзину</button>

<style>
        .add-to-cart-btn {
        background-color: #28a745;
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        border-radius: 5px;
    }
</style>